<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMATION</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>

</head>
    <body>
       <nav>
           <div class="container">
              <ul>
      <li><a href="{{ url_for('index') }}">HOME</a></li>
<li><a href="{{ url_for('add_game') }}">ADD GAME</a></li>
            <li><a href="{{ url_for('calculate_game') }}">CALCULATE GAME</a></li>
        
              </ul>
           </div>
        </nav>

        <main>
            <div class="container">
                <section class="information"

       </main>
    </body>
</html>
